body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

table {
    border-collapse: collapse;
    width: 300px;
    height: 300px;

   
}
.table {
    position: relative;
}
tr {
    width: 399px;

}

td {
 
    position: relative;
    width: 100px;
    height: 100px;
    border: 4px solid black;
    cursor: pointer;
}

td:hover {
    background-color: rgba(176, 246, 156, 0.2);
}

tr:first-child td {
    border-top: 0;
}

tr td:first-child {
    border-left: 0;
}

tr:last-child td {
    border-bottom: 0;
}

tr td:last-child {
    border-right: 0;
}

.shape {
 position: absolute;
 left: 0px;   
 top: 3px;
}

.d-none {
    display: none;
}
.playerPanel {
    display: flex;
    font-size: 32px;
    margin-bottom: 32px;
}
.playerPanel div {
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-left: 16px;
   
}
.playerPanel img {
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

.playerInactive {
    opacity: 0.3;
}

.horizontal-line {
    height:10px;
    background-color: rgba(0   , 0, 0, 0.2);
    width: 300px;
    position : absolute;
    /* transform: scale(0.0); */
    transition: transform 225ms ease-in-out;
   
}

.make-vertical {
    transform: rotate(90deg) ;
    
}

.make-diagonally {
  
    transform:  rotate(45deg); 
}
.make-oposite-diagonally {
    transform:  rotate(135deg) ;
  
}