body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    overflow-y: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    color:#0344a4;
    font-size: 32px;
    padding-bottom: 25px;
}

table {
    border-collapse: collapse;
    width: 300px;
    height: 300px;

   
}
.table {
    position: relative;
}
tr {
    width: 399px;

}

td {
 
    position: relative;
    width: 100px;
    height: 100px;
    border: 4px solid black;
    cursor: pointer;
}

td:hover {
    background-color: rgba(176, 246, 156, 0.2);
}

tr:first-child td {
    border-top: 0;
}

tr td:first-child {
    border-left: 0;
}

tr:last-child td {
    border-bottom: 0;
}

tr td:last-child {
    border-right: 0;
}

.shape {
 position: absolute;
 left: 2px;   
 top: 3px;
}

.d-none {
    display: none;
}
.playerPanel {
    display: flex;
    font-size: 20px;
    margin-bottom: 32px;
    width: 320px;
    justify-content: center;
}
.playerPanel div {
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-left: 16px;
   
}
.playerPanel img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.playerInactive {
    opacity: 0.1;
}

.horizontal-line {
    height:10px;
    background-color: rgba(0   , 0, 0, 0.2);
    width: 300px;
    position : absolute;
    transform: scale(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 1;
   
}

.make-vertical {
    transform: rotate(90deg) scaleX(0) ;
    
}

.make-diagonally {
  
    transform:  rotate(45deg) scaleX(0); 
}
.make-oposite-diagonally {
    transform:  rotate(-45deg) scaleX(0) ;
  
}
.gameOver {
    position: absolute;
      width: 320px;
      height: 320px;
    top: 0px;
    left:0px;
    right: 0px;
    z-index: 2;
    animation: zoomIn 250ms ease-in-out;
}

@keyframes zoomIn {
    0% {
        width: 50px;
        height:50px;
        rotate: -360deg;
        opacity:0;
        transform: scale(0);
    }

    50% {
        width: 200px;
        height:200px;
        rotate: 0deg;
        opacity:0.7;
        transform: scale(0.7);
    }

    100%{
        width: 320px;
        height: 320px;
        rotate: 360deg;
        opacity: 1;
        transform: scale(1);
    }
}

.restartBtn {
    position:absolute;
    top: 334px;
    left: 103px;
    right: 80px;
    z-index: 3;
    cursor: pointer;
    width: 100px;
    height: 50px;
    background-color: #0057D6;
    color: white;
    border-radius: 10px;


}

.restartBtn:hover {
    background-color: #0344a4;
}

#whoWon {
    z-index: 8;
    position:absolute;
    background-color: white;
    color: red;
    top: 173px;
    left: 25px;
    right: 25px;
    text-align: center;
    padding: 24px;
    font-size: 28px;
    border-radius: 10px;
    border: 1px solid red;
}

#winner {
    
    position: absolute;
    background-color: rgba(255, 255, 255, 0.769);
    z-index: 5;
    width:300px;
    height: 420px;
    top: -100px;
}

